@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

$bold-brand: #22416c;
$opaque-brand: #f7f7f7;

// Some useful atomic CSS
.bold-brand-color {
  color: $bold-brand;
}

.bold-brand-bg {
  background-color: $bold-brand;
  transition: all 300ms ease;
  cursor: pointer;
  &:hover {
    background-color: #226c4d;
  }
}


.opaque-brand-color {
  color: $opaque-brand;
}

.opaque-brand-bg {
  background-color: $opaque-brand;
}

html {
  background-color: $opaque-brand;
  color: $bold-brand;
  body {
    main, header {
      background-color: $opaque-brand;
      font-family: "Titillium Web", Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    header {
      padding: 20px 40px;
      h1 {
        color: $bold-brand;
      }
    }
    main {
      table {
        tr th {
          color: $bold-brand;
          font-weight: bold;
          min-width: 80px;
        }
        .row-header {
          min-width: 170px;
        }
        td {
          transition: all 300s ease;
        }
      }
      .table-viz {
        display: flex;
        flex-direction: row;
        .table-data {
          width: 100%;
          transition: all 360ms ease;
        }
        .table-detail {
          width: 0%;
          transition: all 360ms ease;
        }
      }
    }
    footer {
      background-color: darken($opaque-brand, 20);
      min-height: 300px;
      padding: 20px 40px;
    }
  }
  .footer_logo {
    color: $opaque-brand;
    text-align: center;
    padding: 20px 40px;
    img {
      max-width: 300px;
    }
  }
}
